@use '@Styles/config';

$pagination-height: 30px;

.pagination {
  margin: 0 auto;
  justify-content: center;

  &-control {
    @include config.secondaryIconButtonLink();

    & {
      width: $pagination-height;
      height: $pagination-height;
    }
  }

  &-number {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: $pagination-height;
    background-color: transparent;
  }
}
