@use '@Styles/config';

.message {
  &-details {
    margin-bottom: 28px;
  }
}

.sender {
  padding: 8px 10px;
  margin-bottom: 16px;
  background-color: config.$c-primary-500;
  border-radius: config.$border-radius;
  @include config.cardShadow();

  &-name {
    margin-bottom: 8px;
  }

  &-email {
    margin-bottom: 0;
    font-size: config.$fsz-body-300;
  }
}

.body {
  padding: 8px 10px;
  background-color: config.$c-primary-500;
  border-radius: config.$border-radius;
  font-size: config.$fsz-body-300;
  @include config.cardShadow();
}

.go-back-button {
  @include config.secondaryButton();
}
