@use '@Styles/config';

.title {
  @include config.CarterOne();
}

.sender {
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid config.$c-primary-400;

  &-name {
    margin-bottom: 8px;
  }

  &-email {
    margin-bottom: 0;
    font-size: config.$fsz-body-300;
  }
}
